<div class="container ">
    <h3 mat-dialog-title>Alumnos de {{unidadCentro.unidad_centro}}</h3>
    <div class="example-container mat-elevation-z8">
        <div class="example-table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>
                        <input matInput [formControl]="nombre" placeholder="Nombre">
                        <span mat-sort-header></span>
                    </th>
                    <td mat-cell *matCellDef="let alumnos"> {{alumnos.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="apellidos">
                    <th mat-header-cell *matHeaderCellDef>
                        <input matInput [formControl]="apellidos" placeholder="apellidos">
                        <span mat-sort-header></span>
                    </th>
                    <td mat-cell *matCellDef="let alumnos"> {{alumnos.apellidos}}</td>
                </ng-container>

                <ng-container matColumnDef="edad">
                    <th mat-header-cell *matHeaderCellDef>
                        <input matInput [formControl]="fechaNacimiento" placeholder="Edad">
                        <span mat-sort-header></span>
                    </th>
                    <td mat-cell *matCellDef="let alumnos"> {{alumnos.fecha_nacimiento | edad}}</td>
                </ng-container>

                <ng-container matColumnDef="linkedin">
                    <th mat-header-cell *matHeaderCellDef>
                        <input matInput [formControl]="linkedin" placeholder="Linkedin">
                        <span mat-sort-header></span>
                    </th>
                    <td mat-cell *matCellDef="let alumnos"><a *ngIf="alumnos.linkedin" href="{{alumnos.linkedin}}">Ver Perfil</a></td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button (click)="addAlumno(unidadCentro.id_unidad_centro)">
                            <mat-icon>
                                add_circle
                            </mat-icon>
                        </button>
                    </th>
                    <td mat-cell *matCellDef="let alumno">
                        <button mat-icon-button (click)="editAlumno(alumno)">
                            <mat-icon>
                                mode_edit
                            </mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteAlumno(alumno)">
                            <mat-icon>
                                delete
                            </mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>
</div>
